@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');$color1 : #FFF;
$color2 : #25CCF7;
$color3 : #171f26;
$font1 : 'Mochiy Pop One', sans-serif;
$enable-negative-margins: true;


h1 {
	font-family: $font1;
	color: $color1;

	span {
		color: transparent;
		text-shadow: 0 0 5px rgba($color2, 0.7);
	}
}

.rules {
	color: $color1;
	font-family: $font1;
}

.counter {
	font-size: 3rem;
	color: $color1;
}

.easy-autocomplete {
	display: inline-block;

	input {
		margin-top: 10px;
	}
}

footer {
	padding-bottom: 5px;

	a {
		color: $color1;
		text-decoration: none;
		margin: 0 10px;
		font-size: 0.7rem;
	}
}